.full-width {
  width: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.flex-elem {
  flex-grow: 1;
}

.no-select {
  user-select: none;
}

.column {
  display: flex;
  flex-direction: column;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
